<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="26" android:versionName="1.9.1" package="com.PavlenkoDR.tiktokdownloader" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />
	<application android:label="TTDownloader" android:theme="@style/MainTheme" android:icon="@mipmap/ic_launcher" android:requestLegacyExternalStorage="true"></application>
</manifest>